.right {
  width: 40vw;
  padding: 1rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  min-height: calc(100% - 16rem);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.right .content-header {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 1rem 0;
}

.new-todo {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  margin: 1rem 0;
}

.new-todo input,
.new-todo span,
.new-todo button {
  margin-right: 0.5rem;
  height: 1.5rem;
}

.right button {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0.2rem;
  width: 6rem;
}

.right button:hover {
  font-weight: 700;
}

.todos {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}

.todos .todos-header {
  width: 100%;
  height: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

.todos form {
  width: 100%;
  height: 2rem;
}

.todos ul {
  width: 100%;
}

.todos ul li {
  min-height: 2.5rem;
}



