.left {
  padding: 1rem;
  width: 30vw;
  min-height: calc(100% - 16rem);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.left button {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0.2rem;
  width: 6rem;
}

.left button:hover {
  font-weight: 700;
}

.left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left ul li {
  width: 100%;
  height: 3rem;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left ul li div button:hover {
  font-weight: 700;
}

.left a {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0.2rem;
  min-width: 10rem;
}

.left a:link,
.left a:visited {
  color: black;
}

.left a:hover,
.left a:active {
  transform: scale(1.03);
  font-weight: 700;
}

.left a:focus {
  font-weight: 700;
}