.todo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0.5rem 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.todo .todo-actions {
  width: 100%;
}

.todo .todo-actions button {
  margin: 0 0.3rem;
}

.todo .todo-actions input {
  margin-right: 0.5rem;
}