.todo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0.5rem 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  min-height: 40px;
}

.todo .todo-actions {
  width: 100%;
}

.todo .todo-actions * {
  margin-right: 1rem;
}

.todo .todo-actions span {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0.2rem;
  width: 300px;
}

.todo .todo-actions input {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  padding: 0.2rem;
}

.editing {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 120px;
}

.editing form div {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}