@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap');
@import "_configuration.css";
@import "_sidebar.css"; 
@import "_content.css";
@import "_todo.css";
@import "_header.css";  

.app-container {
  display: flex;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

