@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}

li {
  list-style: none;
}

.app-container {
  display: flex;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
}

.main {
  width: 50%;
  height: 80%;

}

.header {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.left ul li {
  width: 20%;
  height: 3rem;
  margin-top: 1rem;
  border: 1px black solid;
}