@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700&display=swap');
@import "_configuration.css";
@import "_sidebar.css"; 
@import "_content.css";
@import "_todo.css";
@import "_header.css";  

@media screen and (max-width: 900px) {
  html, body {
    font-size: 10px !important;
  }
  .main {
    width: 100vw !important;
  }
}

.app-container {
  display: flex;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}



